{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">Welcome to the CP Platform</h1>
        <p class="lead">Sharpen your problem-solving skills with real-time challenges and curated problems.</p>
        <p class="lead">Sharpen your problem-solving skills with real-time challenges and curated problems.</p>
        <p class="lead">Sharpen your problem-solving skills with real-time challenges and curated problems.</p>
        <p class="lead">Sharpen your problem-solving skills with real-time challenges and curated problems.</p>
        <p class="lead">Sharpen your problem-solving skills with real-time challenges and curated problems.</p>
        <!-- <a href="#" class="btn btn-primary btn-lg mt-3">Start Practicing</a> -->
    </div>
</div>

{% endblock content %}